.timeline-structure {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.timeline-start-label,
.timeline-end-label {
  font-weight: bold;
  margin-bottom: 20px;
  margin-left: -50px;
}

.timeline-path {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-left: 20px;
}

.timeline-track {
  position: absolute;
  left: 9px;
  top: 0;
  bottom: 0;
  width: 2px;
  background-color: black;
  z-index: 0;
}

.timeline-node {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 25px;
  cursor: pointer;
  z-index: 1;
}

.timeline-marker {
  width: 20px;
  height: 20px;
  background-color: #ccc;
  border-radius: 50%;
  border: 3px solid #ccc;
  margin-right: 10px;
  transition: 0.3s;
}

.timeline-marker.highlight {
  background-color: #0d6efd;
  border-color: #0d6efd;
}

.timeline-step-text {
  font-size: 14px;
  color: #555;
}

.timeline-node.current .timeline-step-text {
  font-weight: bold;
  color: #0d6efd;
}

.timeline-info-box {
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 10px;
  min-height: 350px;
  border: 1px solid #ddd;
}

.timeline-desktop-only {
  display: none; /* Hide on small screens */
}

@media (min-width: 992px) {
  .timeline-desktop-only {
    display: block; /* Show on desktop */
  }
}
